<div class="mt-4">
    <form method="GET" action="/news">
        <div class="mb-3">
            <label for="tim-kiem" class="form-label">từ khóa</label>
            <input type="text" name="q" class="form-control" id="tim-kiem" placeholder="Nhập từ khóa...">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>